extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='name') Назва жанру:
      input#name.form-control(type='text', name='name', required value=(genre && genre.name) || '')

    button.btn.btn-primary(type='submit') Зберегти

  if errors
    ul
      each error in errors
        li.text-danger= error.msg
